<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.ctf.mapper.UserRoleMapper">


    <!--
    //根据用户id删除用户已分配的角色关系
    public int removeUserRoleByUid(Integer userId);
    -->
    <delete id="removeUserRoleByUid">
        delete from user_role where user_id = #{userId}
    </delete>


    <!--
    //增加用户角色关系
    public int insertUserRole(userRole userRole);
    -->
    <insert id="insertUserRole">
        insert into user_role values (null, #{roleId}, #{userId})
    </insert>

</mapper>